/* Google Font CDN Link */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}


.navbar-brand {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.logo {
  margin: 0;
  max-width: 150px;
}

.offcanvas-body {
  font-size: 20px;
}

.navbar-toggler {
  border: 1px solid rgb(225, 225, 225);
}

.navbar-toggler-icon {
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.5)), url("../assets/background-img/hamburguer.png");
}

.navbar-toggler {
  border: 1px solid rgb(225, 225, 225);

}

a .nav-item {
  font-weight: bold;
}

main{
  margin-top: 90px;
  width: 100%;
  background: #c8e8e9;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  background-image: url(./assets/Captura\ de\ tela\ 2023-04-29\ 160115.png);

}
.container{
  margin-top: 100px !important;
  margin-bottom: 100px !important;
  width: 85%;
  height: 100%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  
}
.container .content{
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}
.container .content .left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before{
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.content .left-side .details{
  margin: 14px;
  text-align: center;
}
.content .left-side .details i{
  font-size: 30px;
  color: #9b1749;
  margin-bottom: 10px;
}
.content .left-side .details .topic{
  font-size: 18px;
  font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two{
  font-size: 14px;
  color: #afafb6;
}
.container .content .right-side{
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text{
  font-size: 23px;
  font-weight: 600;
  color: #9b1749;
}
.right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box{
  min-height: 110px;
}
.right-side .input-box textarea{
  padding-top: 6px;
}
.right-side .button{
  display: inline-block;
  margin-top: 12px;
}
.right-side .button input[type="button"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #9b1749;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="button"]:hover{
  background: #c00e52;
}

@media (max-width: 950px) {
  .container{
    width: 90%;
    padding: 30px 40px 40px 35px ;
  }
  .container .content .right-side{
   width: 75%;
   margin-left: 55px;
}
}
@media (max-width: 820px) {
  .container{
    margin: 40px 0;
    height: 100%;
  }
  .container .content{
    flex-direction: column-reverse;
  }
 .container .content .left-side{
   width: 100%;
   flex-direction: row;
   margin-top: 40px;
   justify-content: center;
   flex-wrap: wrap;
 }
 .container .content .left-side::before{
   display: none;
 }
 .container .content .right-side{
   width: 100%;
   margin-left: 0;
 }
}

/* FOOTER */

#container-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%; 
  margin: 0;
  padding: 2rem 4rem;
}

#container-footer-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 15px;
}

#container-footer-logo img {
  display: flex;
  flex-direction: column;
  border: 0;
}

.logo-g4-figurinhas {
  width: 100%;
  height: 100px;
}

.logo-g4-figurinhas img {
  min-width: 150px;
  min-height: 80px;
  max-width: 250px;
  max-height: 100px;
}


#contact img {
  width: 30px;
  height: 30px;
  border: 0;
}


#contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact p {
  margin: 0;
}

#contact1 {
  display: flex;
  min-width: 295px;
}

#social-media-icons img {
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

#social-media-icons {
  display: flex;
  width: 100%;
  min-height: 60px;
  justify-content: center;
  align-items: center;
  gap: 10px
}

#logo-serratec img {
  width: 100%;
  border: 0;
  padding: 15px;
}

#logo-serratec {
  display: flex;
  align-items: center;
  min-width: 245px;
}

#Copy {
  border-top: 1px solid gray;
  text-align: center;
  padding: 10px 0;
}

#Copy p {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*BUTTOM-UP-ARROW*/

#divfix {
  bottom: 0;
  right: 0;
  padding: 0px;
  position: fixed;
  /* z-index: 3000; */
}
#up-arrow img{
  height: 150px;
  width: 150px;
}

#up-arrow img:hover{
  content: url("../assets/img/footer-img/upward-wine.png");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
 }


/*BUTTOM-UP-ARROW*/