:root {
    --first-color: #5d051f;
    --second-color: #89192e;
    --third-color: #ba6e7e;
    --fourth-color: #d4cdce; /*cinza*/
    --white-color: #FFF;
    --black-color: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.navbar-brand {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.logo {
    margin: 0;
    max-width: 150px;
}

.offcanvas-body {
    font-size: 20px;
}

.navbar-toggler {
    border: 1px solid rgb(225, 225, 225);
}

a .nav-item {
    font-weight: bold;
}

body {
    color: var(--black-color);
    margin-top: 90px;
}

.pageForgotPassword {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
    width: 25rem;
    border-radius: 7px;
    padding: 30px;
    padding-bottom: 10px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    gap: 5px;
    opacity: 0.8;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: bold;
}

input {
    padding: 15px;
    font-size: 20px;
    border: 1px solid var(--third-color);
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 4px;
    transition: all linear 160ms;
    outline: none;
}

.container input:focus {
    border: 1px solid var(--first-color);
}

label {
    font-size: 25px;
    font-weight: 600;
}

.divSenha {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    gap: 20px;
    position: relative;
}

#newPs1, #newPs2 {
    width: 100%;
    margin-bottom: 5px;
}

.novaSenha {
    margin-bottom: 5px;
}

.btn {
    background-color: var(--first-color);
    color: var(--white-color);
    font-size: 20px;
    font-weight: 600;
    transition: all linear 16ms;
    cursor: pointer; 
    padding: 15px;
    border: 1px solid var(--black-color);
    margin-bottom: 10px;
    margin-top: 15px;
    border-radius: 4px;
    outline: none;
}

.btn:hover {
    transform: scale(1.05);
    background-color: var(--second-color);
    color: var(--white-color);
}

/* BOTAO UPWARD */

#divfix {
    bottom: 0;
    right: 0;
    padding: 0px;
    position: fixed;
    z-index: 3000;
}

#up-arrow img{
    height: 150px;
    width: 150px;
}

#up-arrow img:hover{
    content: url("../assets/button/upward-wine.png");
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
   }

/* FOOTER */

#container-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%; 
    margin: 0;
    padding: 2rem 4rem;
}

#container-footer-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 15px;
}

#container-footer-logo img {
    display: flex;
    flex-direction: column;
    border: 0;
}

.logo-g4-figurinhas {
    width: 100%;
    height: 100px;
}

.logo-g4-figurinhas img {
    min-width: 150px;
    min-height: 80px;
    max-width: 250px;
    max-height: 100px;
}


#contact img {
    width: 30px;
    height: 30px;
    border: 0;
}


#contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact p {
    margin: 0;
}

#contact1 {
    display: flex;
    min-width: 295px;
}

#social-media-icons img {
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

#social-media-icons {
    display: flex;
    width: 100%;
    min-height: 60px;
    justify-content: center;
    align-items: center;
    gap: 10px
}

#logo-serratec img {
    width: 100%;
    border: 0;
    padding: 15px;
}

#logo-serratec {
    display: flex;
    align-items: center;
    min-width: 245px;
}


#Copy {
    border-top: 1px solid gray;
    text-align: center;
    padding: 10px 0;
}

#Copy p {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}