img{
    text-align: center;
    border-radius: 250%;
    max-width: 250px;
    border:2px solid white;
}

section1 img{
    max-width: 50px;
    border:1px solid white;
}
button{
    background-color: transparent;
}

body{
    text-align: center;
    forced-color-adjust: white;
    /* Abaixo como adicionar imagem por URL */
    background-image: url(https://img4.goodfon.com/wallpaper/nbig/8/92/background-rainbow-colors-ogni-lights-neonovyi-neon-fon-abst.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color:rgb(61, 61, 61) */
}

p{
    color: white;
    font-size: 50px;
    border: black;
    text-decoration: underline;
}

h1{
    color: white;
    font-size: 38px;
    border: black;
    text-decoration: underline;
}

h2{
    color: white;
    font-size: 30px;
    border: black;
}

ul{
    color: white;
    font-size: 23px;
    border: black;
}